<h2>Немного об Arasay</h2>

<div class = 'footer_text_block'>
	Если вы что-то не видите, не слышите, не ощущаете или не верите во что-то, это не значит, что этого не существует. Любое однобокое суждение, закалённое временем, рано или поздно сталкивается с противоречием. Здесь, на <b>Arasay</b> мы стараемся, чтобы такое столкновение произошло как можно раньше.
</div>

<div class = 'footer_text_block'>
	Для вас будут писать идеалист, параноик и просто человек, который любит жить на нашей с вами планете. Возможно, со временем к нам ещё кто-то присоединится, или у кого-то из нас произойдёт очередное раздвоение личности. В этом месте много говорить не будем, скажем только, что в ходе своих публикаций <b>Arasay</b> будет неуклонно следовать трём принципам:
</div>

<div class = 'footer_text_block'>
	<b>Минимальная полезность.</b> Каждая статья призвана, как минимум поднять вам настроение или сэкономить время, как максимум задуматься над интересными вещами. Весь текстовой контент на <b>Arasay</b> уникален.
</div>

<div class = 'footer_text_block'>
	<b>Вне политики.</b> У нас вы сможете встретить публикации на различные темы, кроме политических тем. Редакция Arasay слабо верит в то, что политика может изменить жизнь человека, поэтому не видит смысла писать об этом.
</div>

<div class = 'footer_text_block'>
	<b>Открытость к диалогу.</b> Вы в любой момент можете спросить нас обо всё, что только в голову придёт. Мы постараемся ответить вам и с вашего разрешения опубликуем это на Arasay.
</div>

<div class = 'footer_ps'>
  <b>P. S.</b> Если когда-нибудь в нашу редакцию придёт письмо с признанием о том, что <b>Arasay</b> изменил его или её жизнь, то мы немного поплачем, сделаем вывод, что проект оправдался, и пойдём писать дальше.
</div>